@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.title_plain_color {
  color: #C33764;
}

.text_plain_color {
  color: #ADB7BE;
}

/* Hero Section Styles */

.hero_heading {
  color: #ADB7BE;
  font-size: 2.25rem;
  font-weight: 800;
}

.hero_text_animation {
  color: #C33764;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 800;
}

.hero_quote_text_style {
  color: #ADB7BE;
  font-size: 1rem;
  margin-bottom: 1.25rem;
}

.image_container {
  border-radius: 50%;
  background-color: #121212;
  width: 300px;
  height: 300px;
  position: relative;
}

@media (min-width: 640px) {
  .hero_heading {
    font-size: 3rem;
  }
  .hero_quote_text_style {
    font-size: 1.125rem;
  }
  .hire_me_button {
    width: fit-content;
  }
  .download_button {
    width: fit-content;
  }
}

@media (min-width: 1024px) {
  .hero_heading {
    font-size: 4.5rem;
    line-height: normal;
  }
  .hero_quote_text_style {
    font-size: 1.25rem;
  }
}

/* NavBar Section Styles */

.fixed_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: rgba(18, 18, 18, 0.9);
}

.NavBar_heading {
  color: #ADB7BE;
  font-size: 1.25rem;
  font-weight: 600;
}

.NavBar_button {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.75rem;
  border: 1px solid #e2e8f0;
  border-radius: 0.375rem;
  color: #e2e8f0;
}

.NavBar_button:hover {
  color: white;
  border-color: white;
}

@media (min-width: 768px) {
  .NavBar_heading {
    font-size: 3rem;
  }
}

/* NavLink Section Styles */

.menu_item {
  display: block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 1rem;
  color: #ADB7BE;
  font-size: 1rem;
  border-radius: 0.375rem;
}

.menu_item:hover {
  color: white;
}

@media (min-width: 640px) {
  .menu_item {
    font-size: 1.25rem;
  }
}

@media (min-width: 768px) {
  .menu_item {
    padding: 0;
  }
}

/* Project Card Styles */

.project_title_style {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #ADB7BE;
}

.project_paragraph_text {
  color: #ADB7BE;
  text-align: center;
}

/* Projects Section Styles */

.tag_section {
  color: #ADB7BE;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* ProjectTag Styles */

.tag_button_selected {
  background-color: #C33764;
}

.tag_button_selected:hover {
  background-color: #C33764;
}

.tag_button_unselected {
  display: block;
  background-color: #121212;
  border-radius: 9999px;
  padding: 0.5rem 1.25rem;
  color: white;
}

.tag_button_unselected:hover {
  background-color: #1D2330;
}

.skill-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border: 2px solid #C33763;
  border-radius: 8px;
  background-color: transparent;
  transition: transform 0.2s ease;
}

.skill-box:hover {
  transform: scale(1.1);
}

.skill-box svg {
  color: #ADB7BE;
  transition: color 0.3s ease;
}

.connect-icon {
  color: #ADB7BE;
  transition: color 0.3s ease; 
}

.connect-icon:hover {
  color: #C33764;
}

.github-calendar-text {
  color: #ADB7BE;
  font-weight: bold;
}

